@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
    margin: 0;
    width: 100%;
    background: url("./image/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: transparent;
}

.content-name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.content-name input {
    width: 50%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 46px;
    color:#7bdb53;
    margin-bottom: 40px;
    font-weight: lighter;
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke: 2px black
}

.rectanguleTrivia {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

button {
    border: none;
    background: #95e518;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 0, 0);
    color: black;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.textField {
    border-radius: 6px;
    padding: 10px;
    border: 2px solid white;
}

.radio {
    margin: .4rem;
    text-align: left;
}

.buttonOptions {
    margin-top: 30px;
}

.error {
    display: none;
    color: red;
    font-size: 18px;
}
.titles{
    font-family: 'Fredoka One', cursive;
}